table tr td {
 border: 1px solid black; /*borda da tabela */
}

table{
width: 80%; /* largura da tabela*/
margin: auto; /* alinhamento centralizado da tabela */
}

button{
	color:#0000CD; /*cor da fonte */
	background-color:#F5F5F5; /* cor de fundo do botão*/
	font-size: 15px; /* tamanho da font */
	border-radius: 50px; /* arredonda os cantos */
	margin-top : 20px; /*margem do topo */
	margin-botton:40px; /*margem de baixo*/
	margin-left: 20px; /* margem a esquerda */
	margin-right:20px; /* margem a direita */
	/*margin: 50px 50px 20px 50px*/
	padding-top: 20px; /* margem interna topo*/
	padding-bottom: 20px; /* margem interna inferior*/
	padding-left: 20px; /* margem interna esqueda */
	padding-right: 20px; /* margem interna direita */

}
